MobyWav RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\AVertLargeWAVReplacedByCurrentOne.wav"
GifImage05 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\ksereis_apo_vespa-5-candidate.gif"
GifImage02 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\sfaliara-veggos---2.gif"
GifImage03 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\tongue-out-βεγγ.gif"
GifImage06 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\tzamia-begg-6.gif"
GifImage04 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\veggos-manoula.gif"
GifImage08 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\veggos-png5.gif"
Ding RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\Windows Ding.wav"
GifImage07 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\xatzhxrhstos.gif"
GifImage09 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\β-cakewar.gif"
GifImage10 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\καραγκιο.gif"
GifImage11 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\μουτζα-παρτα (2).gif"
GifImage12 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\μουτζα-παρτα.gif"
GifImage13 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\πωςτηλενε-veggos (2).gif"
GifImage14 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\σκαλες.gif"
GifImage15 RCDATA "C:\\ExtractResourcesIn_C_ToBuild\\τοθρτα7.gif"
